
@media only screen and (max-width: 600px) {

img {
  width: 40%;
  border-radius: 15px;
  box-shadow: 4px 4px 10px 2px #2e2e2e;
  margin-left: 27%;
}

h1 {
  text-align: center;
  color: #2e2e2e;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

h3 {
  color: #4e4e4e;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 216, 216);
  color: #2e2e2e;
  font-size: 28px;
}

li {
  list-style: none;
  text-align: center;
  margin-right: 15%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

}